.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.carouselImage {
  width: 100%;
  max-width: 1200px;
  object-fit: cover;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 24px;
  line-height: 1;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}